<div class="d-flex flex-column justify-content-center contact-form">
  <h2 class="text-center">Contact Us</h2>

  <div class="form-container">
    <%= simple_form_for(@message) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", placeholder: "Email" }%>
        <%= f.input :content,
                    as: :text,
                    height: 100,
                    required: true,
                    input_html: { placeholder: "Your Queries here" } %>
      </div>
      <div class="form-actions mt-4">
        <%= f.button :submit, "Send Message", class: "login-btn" %>
      </div>
    <% end %>

  </div>
</div>
