
<div class="d-flex flex-column justify-content-center container-height-full">
  <h2 class="text-center">Onirix</h2>
  <p class="text-center">Forgot your password?</p>


  <div class="form-container">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }, placeholder: "Email" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions", class: "login-btn" %>
      </div>
    <% end %>

    <div class="simple-text d-flex justify-content-between py-4 px-1">
      <% if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign Up", new_registration_path(resource_name) %>
      <% end %>

      <%- if controller_name != 'sessions' %>
        <%= link_to "Log In", new_session_path(resource_name) %>
      <% end %>
    </div>
  </div>

</div>
