
<!------------------------Star Animation------------------------------>
<div class="night">
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
</div>


<div class="night2">
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
</div>

<div class="bg-cover"></div>


  <!-- -----------------------Header----------------------- -->
  <header>
    <h1>“Unlock the mysteries of <br> your subconsious with our <br> dream interpretation.”</h1>
    <a href="#ask-ai" class="">Interprete your Dreams</a>
  </header>

<main>
  <!-- -----------------------Features----------------------- -->
  <article class="features container">
    <div class="feature ft-1">
      <h3>Dream Directory</h3>
      <p>A searchable dream dictionary that allows users to look up common dream symbols and their potential meanings.</p>
    </div>
    <div class="feature ft-2">
      <h3>Dream Journal</h3>
      <p>A feature that allows users to keep a record of their dreams over time, and track patterns or recurring symbols in their dreams.</p>
    </div>
    <div class="feature ft-3">
      <h3>Interpretations</h3>
      <p>A service that offers personalized dream interpretations from professional dream analysts or psychologists.</p>
    </div>
  </article>

  <!-- -----------------------Works----------------------- -->
  <article class="works">
    <%= image_tag("IIR-logo.svg", :alt => "L'institut International des Rêves logo", class: "img-logo-works") %>
    <div class="container py-5 relative">
      <div class="content">
        <h3>It just <span>works</span></h3>
        <p>Users submit dream details via a web form. The website's algorithm or experts analyze and deliver an interpretation via email or web page, with additional resources available.</p>
      </div>
    </div>
  </article>

  <!-- -----------------------Advert----------------------- -->

  <article class="advert">
    <%= image_tag("advert.jpg", :alt => "Woman suffering from daily nightmares") %>
    <h3>"Are your nightmares affecting your daily life? Don't suffer in silence. Seek professional help today."</h3>
  </article>

  <!-- -----------------------About----------------------- -->

  <article class="about">
    <div class="container d-flex justify-content-evenly flex-row-reverse flex-wrap">
      <%= image_tag("brain.jpg", :alt => "User browsing application") %>
      <div class="content">
        <h3>Introducing <span>Onirix</span> most advanced system</h3>
        <p>Users submit dream details via a web form. The website's algorithm or experts analyze and deliver an interpretation via email or web page, with additional resources available.</p>
      </div>
    </div>
  </article>

  <!-- -----------------------Dream Interpretation----------------------- -->
  <article class="dream-interpretation" id="ask-ai">
    <div class="container">
      <h2 class="text-center mb-4">Dream Interpretation</h2>

      <div class="ask-ai" data-controller="ask-ai">

        <%= form_with url: ask_path, method: :post, class: "d-flex flex-column", data: { "ask_ai_target": "form" , action: "submit->ask-ai#send"} do |f| %>
          <%= f.text_area :query, class: "form-control mb-3", minlength: 30, maxlength: (user_signed_in? ? 300 : 150), data: { ask_ai_target: 'dream' }, placeholder: "Enter your dream" %>
          <%= f.submit "Ask Onirix", class: "btn btn-primary mb-4", data: { ask_ai_target: 'button' } %>
        <% end %>

        <div id="answer" data-ask-ai-target="answer" class="grid-dreams">

        </div>
      </div>
    </div>
  </article>

  <!-- -----------------------F.A.Q----------------------- -->

  <article class="frequently-asked-questions">
    <div class='centerplease'>
      Frequently Asked Questions
    </div>

    <div class="faq">
      <div class="a">
        <input type="checkbox" id="question1" name="q"  class="questions">
        <div class="plus">+</div>
        <label for="question1" class="question">
          What does it mean to interpret a dream?
        </label>
        <div class="answers">
          Interpreting a dream means analyzing the symbols, themes, and emotions in a dream to understand its significance and message.
        </div>
      </div>

      <div class="a">
        <input type="checkbox" id="question2" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question2" class="question">
          Interpreting a dream means analyzing the symbols, themes, and emotions in a dream to understand its significance and message.
        </label>
        <div class="answers">
          Our website uses a combination of expert analysis and artificial intelligence to interpret your dream. You can submit your dream to our team of experts or use our AI-powered dream interpretation tool to receive an interpretation.
        </div>
      </div>

      <div class="a">
        <input type="checkbox" id="question3" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question3" class="question">
          Can you guarantee the accuracy of the interpretations?
        </label>
        <div class="answers">
          While we strive to provide the most accurate interpretation possible, the meaning of a dream is subjective and can vary based on the individual's personal experiences and emotions. Therefore, we cannot guarantee the accuracy of the interpretation, but we can provide insights and guidance to help you understand the potential meanings behind your dream.
        </div>
      </div>

      <div class="a">
        <input type="checkbox" id="question4" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question4" class="question">
          Is it possible for dreams to have multiple meanings?
        </label>
        <div class="answers">
          Yes, it's possible for a dream to have multiple meanings. The meaning of a dream can be influenced by various factors, such as the dreamer's personal experiences, emotions, and cultural background. Our experts will provide you with the most likely interpretations based on your specific dream.
        </div>
      </div>

      <div class="a">
        <input type="checkbox" id="question5" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question5" class="question">
          Can dreams predict the future?
        </label>
        <div class="answers">
          While dreams can sometimes contain symbolic messages or insights into a person's thoughts and emotions, they are not a reliable method for predicting the future.
        </div>
      </div>
    </div>
  </article>
</main>

<!-- -----------------------F.A.Q----------------------- -->

<%# <footer>
  <div class="content"> %>
    <%# <%= image_tag("onyrix-white-logo.svg", :alt => "Onirix white logo", :class => "footer_logo") %>
    <%# <div class="links"> %>
      <%# <%= image_tag("facebook-logo.svg", :alt => "Facebook logo") %>
      <%# <%= image_tag("instagram-logo.svg", :alt => "Instagram logo") %>
    <%# </div> %>
  <%# </div> %>
<%# </footer> %>
